@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/Lora-Regular.woff') format('woff'),
       url('../fonts/Lora-Regular.ttf') format('truetype'),
       url('../fonts/lora.woff2') format('woff2'),
       url('../fonts/lora.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.woff') format('woff'),
       url('../fonts/Helvetica-Bold.ttf') format('truetype'),
       url('../fonts/Helvetica-Bold.woff2') format('woff2'),
       url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
